@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');


:root{

    /* //color */
    --cod-gray: #161616;
    --silver: #cdcccc;
    --dodger-blue: #0f8dfc;
    --mine-shaft: #3f3f3f;
    --dove-gray: #6d6c6c;
    --tory-blue: #125a99;
    --chathams-blue: #11436f;
    --malibu: #70b8f4;
    --blumine: #20557e;
    --fontcolor:#bab8b8fb;

    /* font-family */

    --ffp:'Poppins',
    sans-serif;
    --ffr:'Roboto',
    sans-serif;


}
*{
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
    box-sizing: border-box;
    
     
}
html, body{
    background-color: #161616;
    overflow-x: hidden;
   
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dodger-blue); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1e76c4; 
  }

.header{
    padding: 1em 6em 1em 6em;
    width: 100%;
    background-color: #161616;
    position: fixed;
    top: 0;
    z-index: 1;

}

.nav{

    width: 100%;
    height: 80px;
    display: flex;
    font-family: var(--ffr);
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    
}

.list {
    display: flex;
    list-style: none;
    gap: 50px;
    color:#777575eb;
    
}
.list a{
    text-decoration: none;
    
}
.list a::after{
    content: " ";
    display: block;
    border: 1px solid #ffffff;
    transition: all 0.2s ease-in-out;
    transform: scaleX(0);

    
}

.list a:hover{
    color: #70b8f4;
}
.list a:hover::after{
    transform: scaleX(1);
    
}


.nav button{
    all: unset;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    outline: none;
    border: none;
    background-color: #0f8dfc;
    color: #ffffffd9;
    width: 6em;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav button::before{
    content: " ";
    border: none;
    outline: none;
    background-color: #ffffff;
    color:#0f8dfc;
    width: 6em;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}

.nav button:hover{
   background-color: #ffffff;
    color: #0f8dfc;

}
.nav button:hover::before {
    transform: scaleX(1);
  }


  /* --------------------section1------------------------------------------- */

.section1{
    display: flex;
    padding:  1em 6em 1em 6em;;
    justify-content: space-between;
    margin-top: 150px;
    height: 600px;
    
}

.section1 .content{
    color: #ffffff;
    font-family: var(--ffr);
    width: 45%;
}
.content h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.4;

}
.content span{
    font-style: italic;
    color: #0f8dfc;

}
.content p{
    color: var(--dove-gray);
    font-size: 19px;
    line-height: 1.5;
}


.content button{
    color: #ffffff;
    background-color: #20557e;

}

.button {
    margin-top: 70px;
    display: flex;
    gap: 20px;

}
.button .btn1{

    all: unset;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    
    width: 8em;
    height: 50px;
    border-radius: 30px;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    color: #ffffff;
    background-color: #0f8dfc;
    padding: 2px;
}

.button .btn1::before{
    content: " ";
    
    transition: all 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #ffffff;
    color:#0f8dfc;
    
    width: 8em;
    height: 50px;
    border-radius: 30px;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 2px;

   
    
    
}

.btn1:hover{
    color: #0f8dfc;
    
}

 .button .btn1:hover::before{
    transform: scaleX(1);
}


/* --------------button 2 */


.button .btn2{

    all: unset;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
   
    border: 1px solid white;
    
    width: 9em;
    height: 50px;
    border-radius: 30px;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    color: #ffffff;
    /* background-color: #0f8dfc; */
    padding: 2px;
}

.button .btn2::before{
    content: " ";
    
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #ffffff;
    color:#0f8dfc;
    
    width: 9em;
    height: 50px;
    border-radius: 30px;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 2px;

   
    
    
}

.btn2:hover{
    color: #0f8dfc;
    
}

 .button .btn2:hover::before{
    transform: scaleX(1);
}

/* ------------content image */

.content-img img{
    width: 500px;
    height: 900px;
    position: relative;
    bottom: 200px;
    z-index: 0;

}

/* --------------------------------------section2----------------------------- */

.section2{
    width: 100%;
    height: 140px;
    background-color: #1d1c1c;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.section2 img{
    height: 140px;
    width: 130px;
    
}



/* ----------------------------------section3---------------------------------- */

.section3{
    color: #cdcccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ffffff;
    height: 800px;
    width: 100%;
    padding-top: 100px;
}
.featuresdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 40px;
    padding: 1em 6em 1em 6em;
    
}
.section3>h1{
    padding-top: 30px;
    text-align: center;
    width: 75%;
    font-size: 50px;
    font-family: var(--ffp);
    color: #161616;
    font-weight: 600;
    
}
.section3>p{
    margin-top: 10px;
    text-align: center;
    width: 40%;
    font-size: 17px;
    color: #bab8b8fb;
    font-family: var(--ffp);
    font-weight: 500;
}

.feature{
    min-width: 200px;
    min-height: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 9px;
    align-items: center;
    border: 2px #aca9a9 solid;
    border-radius: 25px;
    border-image: var(--dodger-blue);
    margin-top: 110px;
    text-align: center;
    
    


}

.feature:hover{
    color: #bab8b8fb;
    background-color: #161616;
    
    scale: 1.05;
    transition: all 0.5s ease-in-out;
}
.feature:hover h1{
    color: #ffffff;
}

.feature2:hover{
    color: #bab8b8fb;
    background-color: #ffffff;
    border: 2px #aca9a9 solid;
   
}
.feature2:hover h1{
    color: #1d1c1c;
   
}
.feature p{
    font-family: var(--ffp);
    font-size: 17px;
    color: #bab8b8fb;
    position: relative;
    bottom: 15px;

    
}
.feature h1{
    font-family: var(--ffp);
    color: #1d1c1c;
    font-weight: 600;
    font-size: 23px;
    
    
    
}

.feature2{
    background-color: #161616;
    position: relative;
    bottom: 50px;
    border: none;
    
    text-align: center;
   
    
}
.feature2 h1{
    color: #ffffffd6;
}

/* ------------------------------section4------------------------------------- */

.section4{
    background-color:#ffffff;
    padding: 1em 6em 6em 6em;
}

.section4>h1{
    padding-top: 30px;
    text-align: start;
    width: 95%;
    font-size: 45px;
    font-family: var(--ffp);
    color: #161616;
    font-weight: 600;
    
}

.divmain{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.listfeature{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listfeature li{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 25px;
   font-weight: 600;
   font-family: var(--ffr);
   padding: 1em 1.5em 1em 1.5em;
   border: 1.5px solid #cdcccc;
   width: 580px;
   height: 105px;
   border-radius: 50px;
}

.listfeature li:hover{
    scale: 1.05;
    transition: all 0.3s ease-in-out;

}

.listfeature li:nth-child(1){
    background-color: #0f8dfc;
    color: #ffffff;

}



.listtech{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cod-gray);
    padding: 2em 1em 2em 1em;
    border-radius:30px;
}


.listtech li{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--ffr);
    padding: 1em 1.5em 1em 3em;
    position: relative;
    
    width: 400px;
    height: 60px;
    border-radius: 50px;
    color: #cdcccc;
    background-color: #292828;
    transition: all 0.4s ease-in-out;
   
 }
 .listtech li ::before{
    content: " ";
    display: block;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 1.5rem;
    translate: 0 -50%;
    aspect-ratio: 1;
    position: absolute;
    
   
 }


 
 .listtech li:hover{
     background-color:#ffffff ;
     color: #292828;
     transition: all 0.4s ease-in-out;
 
 }

 .listtech li :hover::before{
    background-color: #292828;


 }

 /* -------------------------------section5------------------------ */

 .section5{
    width: 100%;
   
    

 }
 .divmain5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 6em 1em 6em;
    margin-top: 70px;
 }

 .divmain5 .divmain5content{
    display: flex;
    align-items: center;
    

 }
 .divmain5content p{
    font-size: 50px;
    font-family: var(--ffp);
    text-align: center;



 }
 .divmain5content img{
    position: relative;
    top: 50px;
 }

 /* --------------------------------------------- */


 .divmain5services{
    display: flex;
    gap: 40px;
    margin-top: 100px;
    align-items: center;
 }

 .divmain5services .divservice{
    background-color: #ffffff;
    min-height: 600px;
    min-width: 320px;
    border-radius: 25px;
    padding: 2em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;


 }

 
 

 .divmain5content>p{
    color: #ffffff;

 }
 .divservice h1{
    font-size: 35px;
    font-family: var(--ffr);
    
 }
 .divservice h2{
    font-size: 55px;
    font-family: var(--ffp);
    font-weight: 600;
    
 }
 .divservice h2 span{
    font-size: 30px;
    font-family: var(--ffp);
    color: #bab8b8fb;;
 }
 .divservice p{
    width: 278px;
    font-size: 14px;
    font-family: var(--ffp);
    font-weight: 600;
    margin-bottom: 10px;
 }



 .divservice:nth-child(2){
    background-color: #0f8dfc;
    color: #ffffffec;
 }

 .divservice:nth-child(2) span{
    background-color: #0f8dfc;
    color: #ffffffce;
 }

 .divservice:nth-child(2) .btnser{
    background-color: #ffffff;
    color: var(--dodger-blue);
 }
 .divservice:nth-child(1) hr{
    margin-top: 16px;
   
 }
 
 
 
 
 
 .listser{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 24px;
 }

 .listser span{
    font-family: var(--ffr);
    font-size: 17px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.626);
 }

 .listser li{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
 }

 .divservice .btnser{
    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #0f8dfc;
    font-size: 17px;
    font-family: var(--ffr);
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    
 }

 .divservice:hover{
    scale: 1.05;
    transition: all 0.2s ease-in-out;
 }

 .divservice .btnser:hover{
    border: 2px solid var(--dodger-blue);
    background-color: #ffffff;
    color: #0f8dfc;


 }

/* -----------------------------------------section6--------------------------------------------- */

.section6{
    width: 100%;
    height: 980px;
    background-color: #ffffff;
    margin-top: 100px;
    padding: 9em 0em 1em 5em;
    
    
}

.section6 .reviewdiv1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5em;


}
.reviewdiv1 h1{
    font-size: 55px;
    width: 40%;
    font-family: var(--ffr);
}
.reviewdiv1 p{
    width: 42%;
    font-family: var(--ffr);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    word-spacing: 1.1;
    color: var(--fontcolor);
}

.reviewdiv2{
    display: flex;
    margin-top: 100px;
    gap: 40px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 6em;
    
    

}

.rating{
    min-width: 40em;
    min-height: 23em;
   
    border: 1px solid #6d6c6c;
    background-color: #ffffff;
    padding: 2em 2em 2em 2em;
    border-radius: 30px;
    display: flex;
   flex-direction: column;
   gap: 40px;
 
   
  transform-origin: right;
    
}

.rating:nth-child(1){
    background-color: var(--cod-gray);
}
.rating:nth-child(1) h2{
    color: #ffffffce;
}
.rating:nth-child(1) h2 span{
    color:#ffffffd9;
}

.rating:nth-child(1) p{
    color: #ffffffce;
    
}




.rating:hover{
    background-color: var(--cod-gray);
   
}

.rating:hover h2{
    color: #ffffffce;

}
.rating:hover h2 span{
    color:#ffffffd9;

}
.rating:hover p{
    color: #ffffffce;

}



.rating h2{
    font-family: var(--ffr);
    font-size: 20px;
    font-weight: 500;
    color: #161616;
}
.rating h2 span{
    font-family: var(--ffp);
    font-size: 15px;
    font-weight: 400;
    color: var(--mine-shaft);
}
.rating p{
    font-family: var(--ffr);
    font-size: 26px;
    line-height: 1.2;
   color: #000;
}



.reviewdiv2::-webkit-scrollbar{

   
    
    height: 10px;
   
  
   
}

.reviewdiv2::-webkit-scrollbar-track {
    background-color:#aca9a9
  }

  .reviewdiv2::-webkit-scrollbar-thumb {
    
    background: var(--dodger-blue) ;
    border-radius: 10px;
   
    
   
    
  }

  /* -------------------------------------------------section7------------------------------------ */

  
.section7{
    width: 100%;
    height: 600px;
    background-color: var(--cod-gray);
    padding: 6em 5em 0em 5em;
    display: flex;
    flex-direction: column;
    gap: 80px;

}
.section7 p{
    width: 100%;
    color: #ffffff;
    font-family: var(--ffr);
    font-size: 55px;
    text-align: center;
   
}


.section7 form{
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
   
    background-color:#292828;
    border-radius: 25px;
    height: 110px;
    padding: 5em;
    
    

}

.section7 hr .line{
    color: var(--fontcolor);
    height: 1px;
    width: 100%;

}

form input{
   border :none;
   outline: none;
   background-color: #3e3d3d;
   border-radius: 25px;
   width: 100%;
   height: 40px;
   padding: 2em;
   font-family: var(--ffr);
   font-size: 18px;
   
   
}
form .formbtn{
    width: 80%;
    height: 70px;
    border-radius: 50px;
    font-size: 20px;
    color: #ffffff;
    background-color: #0f8dfc;
    border: none;
    outline: none;
    font-family: var(--ffr);
    cursor: pointer;
}


.formbtn:hover{
    color: #0f8dfc;
    background-color: #ffffff;

}



/* ------------------------------------------------footer--------------------------------------- */



footer{
    width: 100%;
    height: 500px;
    background-color: #161616;
    padding: 1em 6em 1em 6em;
   
}

.footer1{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;
    align-items: flex-start;

}
.listfoo{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.listfoo li a{
    text-decoration:none ;
    font-family: var(--ffr);
    color: var(--fontcolor);
}
.listfoo li:nth-child(1){
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 20px;
}

.listfoo li a:hover{
    color: #11436f;

}

.footer2{
    margin-top: 50px;

    
}
.footer2 img{
   padding-top: 50px;
}





 







 