@media  screen and (max-width:1200px){
    :root{
        --lightblue:#ebf5ff;
        --white:#ffffff;
        --logoback:#faf8ff;
        --purple:#722ed1;
        --google:#4285f4;
        --button:#f9f0ff;
        --font:#a173e1;
        --heading:#404040;
        --para:#898e93;
        --black:#010101;
        --footer:#fbfcff;
    
        --paragraph: #71747889;
    
    
    
        /* ----------font---------------- */
    
        --ffp: 'Poppins', sans-serif;
        --ffr: 'Roboto', sans-serif;
         --ffn: 'Noto Sans Syloti Nagri', sans-serif;
         --ffm: 'Metrophobic', sans-serif;
    }
    
    
    
    @import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Noto+Sans+Syloti+Nagri&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');
    
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
      }
    
      html , body{
        overflow-x: hidden;
      }
    
      
    
      a{
        font-family: var(--ffn);
      }
    
      h1{
        font-family: var(--ffn);
      }
      p{
        
        font-size: 17px;
        font-weight: 500;
        color: #71747889;
        font-family: var(--ffr);
        line-height: 1.5;
      }
    
      
    
      
    
     
    
      .mainbody{
       
       
        background: linear-gradient(
          to bottom,
         #ffffff,
         #e6f3ff
        );
        
        padding: 2em 9em 2em 9em;
      
       
      }
    
      .mainbody::before{
        content: "";
        position: absolute;
        background: linear-gradient(
          to bottom,
         #ffffff,
         #e6f3ff
        );
       
      
        width: 100%;
        height: 120%;
        z-index: -2;
        left: -20px;
        top: 0;
        right: 0;
        bottom: 0;
        transform: rotate(-5deg);
      }
    
      
    
     
      header{
        display: flex;
        justify-content: space-between;
    
        width: 100%;
        
      
    
      }
    
      header ul{
        display: flex;
        align-items: center;
        
        gap: 50px;
      }
    
      header ul li{
        list-style: none;
      }
    
      header ul li a{
        text-decoration: none;
        font-weight: 700;
       
        font-size: 15px;
        color: var(--black);
      
      }
    
      header button{
        width: 150px;
        height: 40px;
        border-radius: 25px;
        border: 1.5px solid var(--font);
        color: var(--purple);
        font-weight: 700;
        font-size: 15px;
        background-color: var(--white);
      }
    
      main{
        display: flex;
        align-items: center;
    
        justify-content: space-between;
    
        margin-top: 100px;
      
      }
    
      .mainimage{
        
       
        animation-name: scaleme;
       
        animation-duration: 4s;
       
        animation-iteration-count: infinite;
        animation-direction: alternate;
       
    
        
      }
    
      @keyframes scaleme {
        from{ 
          transform: scale(1);
    
        }
        to{
          transform: scale(0.5);
        }
        
      }
    
      .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .updiv{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        gap: 10px;
        background-color: #f7f1ff;
        width: 240px;
        height: 40px;
        padding: 2px;
        border-radius: 25px;
        color: var(--purple);
        font-weight: 700;
    
      }
    
      .updiv a{
        color:var(--purple);
      }
    
      .updiv p{
        color: var(--font);
      }
    
      .downdiv{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    
      .downdiv h1{
        font-size: 50px;
        font-family: var(--ffn);
        font-weight: 700;
       
    
    
      }
    
      .downdiv p{
        font-size: 17px;
        font-weight: 500;
        color: #717478a9;
        font-family: var(--ffr);
        line-height: 1.5;
    
    
      }
    
      .downdiv div{
        display: flex;
        gap: 15px;
      }
    
      .downdiv .btn1{
        width: 150px;
        height: 40px;
        background-color: #722ed1;
        color: #ffffffb7;
        border: none;
        outline: none;
        border-radius: 25px;
      }
    
    
      .downdiv button{
        width: 120px;
        height: 40px;
        background-color: var(--white);
        color: #722ed1b5;
        font-family: var(--ffr);
        border: none;
        font-weight: 600;
        font-size: 14px;
        outline: none;
        border-radius: 25px;
      }
    
    
      /* -------------------------section1------------------------------ */
    
      .section1{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
       
        margin-top: 300px;
        padding: 2em 9em 2em 9em;
      }
    
      .qublysection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 90%;
        text-align: center;
    
    
    
      }
    
      .qublysection div{
        width: 170px;
        background-color: #f7f0ff;
        color: #722ed1;
        font-weight: 700;
        height: 50px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: var(--ffm);
      }
    
      .qublysection h1{
        font-size: 35px;
        font-weight: 700;
    
      }
    
      .qublysection p{
        font-size: 17px;
        font-weight: 500;
        color: #71747889;
        font-family: var(--ffr);
        line-height: 1.5;
        width: 70%;
    
      }
    
    
      .features{
        display: flex;
        gap: 10px;
        align-items: center;
        
        
      }
    
      .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
      }
    
      .feature h1{
        font-size: 17px;
        font-weight: bolder;
        
    
      }
    
      .feature p{
        font-size: 16px;
        font-weight: 500;
        color: #71747889;
        font-family: var(--ffr);
        text-align: center;
        
        line-height: 1.5;
        width: 95%;
      }
    
      /* ---------------------------section2----------------------------- */
    
    
      .section2{
        display: flex;
        margin-top: 150px;
        align-items: center;
        gap: 80px;
        padding: 2em 9em 2em 9em;
      }
    
      .cloud{
        animation-name: scalecloud;
       
        animation-duration: 10s;
       
        animation-iteration-count: infinite;
        animation-direction: reverse;
       
    
    
      }
    
      @keyframes scalecloud {
        from{ 
          transform: rotate(0deg);
    
        }
        to{
          transform: rotate(360deg);
        }
        
      }
    
      .section2main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    
      .section2main div{
    
        width: 250px;
        background-color: #f7f0ff;
        color: #722ed1;
        font-weight: 700;
        height: 50px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: var(--ffm);
    
      }
    
      .section2main h1{
        font-size: 30px;
        font-weight: bolder;
    
      }
    
      .section2main p{
        font-size: 17px;
      }
    
    
      /* ---------------------------section3----------------------------- */
    
    
      .section3{
        display: flex;
        margin-top: 100px;
        align-items: center;
        gap: 10px;
        padding-right: 0;
        padding: 2em 0em 2em 9em;
      }
    
      .section3main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    
      .img{
        animation-name: scaleimg;
       
        animation-duration: 3s;
       
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
       
    
    
      }
    
      @keyframes scaleimg {
        from{ 
          transform: skew(0deg);
    
        }
        to{
          transform: skewX(40deg);
         
        }
        
      }
    
      .section3main div{
    
        width: 250px;
        background-color: #f7f0ff;
        color: #722ed1;
        font-weight: 700;
        height: 50px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: var(--ffm);
    
      }
    
      .section3 .img{
        width: 50%;
      }
    
      .section3main h1{
        font-size: 30px;
        font-weight: bolder;
    
      }
    
      .section3main p{
        font-size: 17px;
      }
    
    
      /* ---------------------------------------section4---------------------------------------- */
    
      .section4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        
        gap: 12px;
        
        padding: 2em 8em 2em 8em;
        
        height: 500px;
        transform: rotate(-0deg);
    
    
        
        /* background: linear-gradient(
          to bottom,
         #fcf8ff,
         #f5f8ff
        );
        */
      
       
        
        
    
      }
    
    
    
      .section4::before{
        content: "";
        position: absolute;
        background: linear-gradient(
          to bottom,
         #fcf8ff,
         #f5f8ff
        );
       
       
      
        width: 100%;
        height:500px;
        z-index: -2;
        left: 0px;
        top: 0;
        right: 0;
        bottom: 0;
        transform: rotate(-5deg);
      }
    
      .section4 h1{
        text-align: center;
        width: 90%;
        line-height: 1.5;
      }
    
     .section4 span{
    
      font-size: 18px;
      font-family: var(--ffr);
      color: var(--black);
      font-weight:800;
    
      }
    
      .section4 hr{
        color: var(--purple);
      }
    
    
      .section4 .logo{
        display: flex;
      
       gap: 80px;
      }
    
    
      .section5{
        display: flex;
        margin-top: 200px;
        padding: 2em 8em 2em 8em;
        justify-content: space-between;
      }
    
      .div1{
        display: flex;
        flex-direction: column;
        width: 47%;
        justify-content: center;
        
      }
    
      .div1 h1{
        font-size: 35px;
        line-height: 1.2;
        font-family: var(--ffn);
      }
    
      .div1 .line{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        
      }
    
    
      .line hr{
        transform: rotate(90deg);
       height: 160px;
       border: 1px solid  var(--paragraph);;
       color: var(--paragraph);
        
      }
    
      .line span{
        font-family:var(--ffn) ;
        color: var(--paragraph);
      }
    
      .logoemail{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 50px;
      }
      .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 47%;
        background-color: #f6eefd;
      }
    
      .divwhite{
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        gap: 15px;
        position: relative;
        bottom: 40px;
        background-color: #ffffff;
    
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
    
      .divwhite h1{
        font-size: 30px;
      }
    
      .divwhite button{
        background-color: var(--purple);
        color: var(--white);
        border: none;
        outline: none;
        width: 350px;
        height: 50px;
        font-family: var(--ffn);
        font-size: 16px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
      }
    
    
      .divwhite .email{
        background-color: white;
        color: var(--white);
        font-weight: 500;
    
        padding: 1em;
        border: none;
        outline: none;
        width: 350px;
        height: 50px;
        font-family: var(--ffn);
        font-size: 16px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
      }
      .divwhite .pass{
        background-color: white;
        color: var(--white);
        font-weight: 500;
    
        padding: 1em;
        border: none;
        outline: none;
        width: 350px;
        height: 50px;
        font-family: var(--ffn);
        font-size: 16px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
      }
      .divwhite .resetpass{
        background-color: white;
        color: var(--white);
        font-weight: 500;
    
        padding: 1em;
        border: none;
        outline: none;
        width: 350px;
        height: 50px;
        font-family: var(--ffn);
        font-size: 16px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
      }
    
    
      .divwhite span{
        font-family: var(--ffn);
        font-weight: 500;
      }
    
      .divwhite .divline{
        
        border: 1px solid var(--paragraph);
        width: 300px;
      }
    
      .divwhite p{
        font-size: 15px;
      }
    
      .divwhite p>span{
        color: var(--font);
        font-weight: 600;
        font-size: 15px;
      }
    
      /* ---------------------------------footer---------------------------------- */
    
      footer{
        display: flex;
        justify-content: space-between;
        padding: 2em 8em 2em 8em;
        color: var(--black);
        margin-top: 130px;
        background-color: var(--footer);
      }
    
      footer ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    
      footer ul li{
        font-size: 13px;
        color: rgba(0, 0, 0, 0.728);
        font-weight: 500;
        
        font-family: var(--ffr);
       
    
    
      }
      footer ul li:nth-child(1){
        font-size: 16px;
        color: #010101;
        font-weight: 600;
      }
    
      .list1{
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        
      }
    
      .list1 p{
        font-size: 13px;
        color: rgba(0, 0, 0, 0.621);
    
      }
    
    
      .list6 li:nth-child(2){
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
      }
    
      .list6 li .emailfooter{
        border: none;
        outline: none;
        background-color: transparent;
        
    
    
      }
    
}